/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #4fa0ff;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: #d7d7d7;

  --color--surface--background: #f6f6f5;
  --color--surface--text: var(--vt-c-black);
  --color--surface--action: var(--vt-c-indigo);

  --color--secondary--background: #2e3439;
  --color--secondary--text: var(--vt-c-white);

  --color--accent: #eb9854;

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color--text--error: #ff5151;

  --section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-background: var(--vt-c-black);*/
/*    --color-background-soft: var(--vt-c-black-soft);*/
/*    --color-background-mute: var(--vt-c-black-mute);*/

/*    --color-border: var(--vt-c-divider-dark-2);*/
/*    --color-border-hover: var(--vt-c-divider-dark-1);*/

/*    --color-heading: var(--vt-c-text-dark-1);*/
/*    --color-text: var(--vt-c-text-dark-2);*/
/*  }*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /*font-weight: normal;*/
}

body {
  min-height: 100vh;
  color: var(--color--surface--text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

button {
  border: 1px solid black;
  border-radius: 4px;

  padding: 10px;

  font-weight: bold;
  font-size: 1.2rem;

  line-height: 1.2rem;
  letter-spacing: 0.02857em;
}

button.small {
  font-size: 0.9rem;
  padding: 5px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

select {
  height: 40px;
  font-size: 15px;
}

.success {
  color: green;
}

.failure {
  color: red;
}
